body {
font-family: Arial, sans-serif;
margin: 0;
background-color: #eef3f9;
color: #222;
}
header {
background: #163c75;
padding: 30px;
text-align: center;
color: white;
box-shadow: 0 6px 6px #00000040;
transform: translateY(-3px)
}
.menu {
display: flex;

position: relative;
justify-content: center;
gap: 20px;
margin-top: 10px;
}
.menu a {
color: white;
text-decoration: none;
font-weight: bold;
}


.menu::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0; 
    height: 20px; 
    background: linear-gradient(180deg, rgba(255,255,255,0.18), rgba(255,255,255,0));
    background-size: 50% 100%;
    pointer-events: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.banner {
text-align: center;
padding: 30px;
}
.banner img {
width: 40%;
border-radius: 10px;
}
h2 {
text-align: center;
}
section {
padding: 20px;
}
.card {
background: white;
padding: 15px;
margin: 15px auto;
width: 80%;
border-radius: 10px;
box-shadow: 0 0 10px #00000020;
}
form {
display: flex;
flex-direction: column;
width: 300px;
margin: auto;
}
input, textarea {
margin: 10px 0;
padding: 10px;
border-radius: 5px;
border: 1px solid #aaa;
}
button {
padding: 10px;
background: #2b4c7e;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}
.img-sobre {
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}