body {
font-family: Arial, sans-serif;
margin: 0;
background-color: #eef3f9;
color: #222;
}
header {
background: #2b4c7e;
padding: 20px;
text-align: center;
color: white;
}
.menu {
display: flex;
justify-content: center;
gap: 20px;
margin-top: 10px;
}
.menu a {
color: white;
text-decoration: none;
font-weight: bold;
}
.banner {
text-align: center;
padding: 30px;
}
.banner img {
width: 40%;
border-radius: 10px;
}
h2 {
text-align: center;
}
section {
padding: 20px;
}
.card {
background: white;
padding: 15px;
margin: 15px auto;
width: 80%;
border-radius: 10px;
box-shadow: 0 0 10px #00000020;
}
form {
display: flex;
flex-direction: column;
width: 300px;
margin: auto;
}
input, textarea {
margin: 10px 0;
padding: 10px;
border-radius: 5px;
border: 1px solid #aaa;
}
button {
padding: 10px;
background: #2b4c7e;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}
.img-sobre {
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}